# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache & environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# OS / Editor files
.DS_Store
.vscode/
.idea/
